<div class = "login-box">
    <h2>Login</h2>
    <form action ="/auth/login" method="post">
        <input type="email" name="email" placeholder="email" required/>
        <br />
        <input type="password" name="password" placeholder="password" required />
        <br />
        <input type="submit" value="Login" />
        </form>
        <a href ="Auth/reguster">New Student</a>
</div>