<!DOCTYPE html>
<html>
<head>
    <title>Delete Student</title>
</head>
<body>
    <h1>Delete Student</h1>
    <hr />
    <form method="post" action="/students/delete/1">
        <p>Are you sure you want to delete the student with ID 1?</p>
        <input type="submit" value="Delete">
    </form>
    <br>
    <a href="/students">Cancel</a>
</body>
</html>
